In [183]:
import pandas as pd 
import pandas_ta as ta 
import yfinance as yf 
import MetaTrader5 as mt5
from datetime import datetime, timedelta
import plotly.graph_objects as go
import plotly.io as pio

In [184]:
def cleaning(df):
    df = df.copy()
    df.columns = [name[0].lower() for name in df.columns]
    df.index = df.index.rename('date')
    return df

In [264]:
def chart(df, fib_df=None, fib=False):
    fig = go.Figure(data=[go.Candlestick(
        x=df.index,
        open=df['open'],
        high=df['high'],
        low=df['low'],
        close=df['close']
    )])

    fig.update_layout(
        xaxis_rangeslider_visible=False
    )

    if fib and fib_df is not None and not fib_df.empty:
        # Add yellow boxes (assumed example ranges)
        fig.add_shape(type="rect",
                      x0=fib_df.index,
                      x1=fib_df['next_day'],
                      y0=fib_df['fib 61.8'], y1=fib_df['stop_loss'],
                      fillcolor="yellow", opacity=0.3, line_width=0)
    
    # Show the chart in a new browser tab
    pio.show(fig, renderer='browser')

In [186]:
symbol = 'GC=F'
start = datetime(2023, 1, 1)
stop = datetime.now()

In [187]:
gold_daily = yf.download('GC=F', period='60d', interval='1d')

[*********************100%***********************]  1 of 1 completed

In [188]:
gold_daily.head()

Price             Close         High          Low         Open Volume
Ticker             GC=F         GC=F         GC=F         GC=F   GC=F
Date
2024-11-13  2580.800049  2611.800049  2580.800049  2611.100098     53
2024-11-14  2568.199951  2576.199951  2554.199951  2555.100098     27
2024-11-15  2565.699951  2565.699951  2565.699951  2565.699951     20
2024-11-18  2610.600098  2610.699951  2589.399902  2591.699951    136
2024-11-19  2627.100098  2627.699951  2619.300049  2621.899902     87

In [189]:
gold_daily = cleaning(gold_daily)

In [190]:
gold_daily

                  close         high          low         open  volume
date
2024-11-13  2580.800049  2611.800049  2580.800049  2611.100098      53
2024-11-14  2568.199951  2576.199951  2554.199951  2555.100098      27
2024-11-15  2565.699951  2565.699951  2565.699951  2565.699951      20
2024-11-18  2610.600098  2610.699951  2589.399902  2591.699951     136
2024-11-19  2627.100098  2627.699951  2619.300049  2621.899902      87
2024-11-20  2648.199951  2648.199951  2638.500000  2638.500000      27
2024-11-21  2672.100098  2672.100098  2655.699951  2659.300049      33
2024-11-22  2709.899902  2710.500000  2685.600098  2687.500000      41
2024-11-25  2616.800049  2689.399902  2616.800049  2689.399902      94
2024-11-26  2620.300049  2625.600098  2620.300049  2625.600098  177858
2024-11-27  2639.899902  2657.899902  2627.199951  2633.500000   61653
2024-11-29  2657.000000  2664.300049  2620.699951  2636.399902    3861
2024-12-02  2634.899902  2649.800049  2621.699951  2649.000000     695
2024-12-03  2644.699951  2654.699951  2636.000000  2639.000000    1062
2024-12-04  2653.800049  2658.300049  2637.000000  2639.199951     249
2024-12-05  2626.600098  2655.000000  2625.699951  2652.399902     573
2024-12-06  2638.600098  2643.100098  2617.500000  2620.199951     571
2024-12-09  2664.899902  2677.100098  2630.800049  2632.100098     935
2024-12-10  2697.600098  2698.199951  2661.000000  2662.300049     437
2024-12-11  2733.800049  2733.800049  2693.100098  2701.800049    3387
2024-12-12  2687.500000  2725.100098  2677.399902  2725.100098    2365
2024-12-13  2656.000000  2689.300049  2647.899902  2688.199951    1125
2024-12-16  2651.399902  2663.300049  2651.000000  2658.300049     877
2024-12-17  2644.399902  2652.300049  2632.500000  2651.800049     705
2024-12-18  2636.500000  2647.100098  2590.199951  2644.300049     566
2024-12-19  2592.199951  2610.300049  2582.100098  2582.100098     238
2024-12-20  2628.699951  2631.600098  2604.899902  2605.300049     592
2024-12-23  2612.300049  2627.699951  2611.100098  2620.000000     451
2024-12-24  2620.000000  2620.000000  2609.500000  2613.000000      35
2024-12-26  2638.800049  2638.800049  2627.899902  2628.500000      84
2024-12-27  2617.199951  2617.699951  2616.399902  2617.699951     642
2024-12-30  2606.100098  2626.899902  2597.000000  2620.699951     794
2024-12-31  2629.199951  2629.199951  2604.899902  2608.399902     401
2025-01-02  2658.899902  2663.100098  2633.000000  2633.000000    1728
2025-01-03  2645.000000  2658.699951  2641.800049  2658.699951     591
2025-01-06  2638.399902  2647.000000  2617.300049  2645.500000     960
2025-01-07  2656.699951  2657.500000  2653.000000  2653.399902     643
2025-01-08  2664.500000  2676.899902  2653.500000  2655.500000     999
2025-01-09  2683.800049  2686.300049  2667.899902  2669.699951    1139
2025-01-10  2708.500000  2720.100098  2683.699951  2686.100098     403
2025-01-13  2673.500000  2711.199951  2673.500000  2711.100098     765
2025-01-14  2677.500000  2688.300049  2670.800049  2673.600098     794
2025-01-15  2712.500000  2712.500000  2690.800049  2690.800049     930
2025-01-16  2746.399902  2749.800049  2731.699951  2731.699951    1721
2025-01-17  2744.300049  2751.600098  2725.500000  2736.000000    1214
2025-01-20  2730.300049  2746.899902  2724.800049  2746.000000    1214
2025-01-21  2755.000000  2755.000000  2724.800049  2746.000000    1439
2025-01-22  2767.600098  2768.800049  2753.500000  2754.500000    2079
2025-01-23  2763.100098  2765.000000  2745.399902  2760.000000    2201
2025-01-24  2777.300049  2792.000000  2759.800049  2759.800049    2201

In [191]:
chart(gold_daily)

In [192]:
gold_15 = yf.download(symbol, period='60d', interval='15m')

[*********************100%***********************]  1 of 1 completed

In [193]:
gold_15 = cleaning(gold_15)

In [194]:
gold_15.head(3)

,close,high,low,open,volume
date,,,,,
2024-11-13 00:00:00,2612.399902,2613.699951,2612.199951,2612.300049,353
2024-11-13 00:15:00,2612.199951,2613.000000,2611.600098,2612.500000,602
2024-11-13 00:30:00,2611.000000,2612.399902,2609.300049,2612.100098,1473

In [195]:
chart(gold_15)

In [260]:
def get_daily_fibonacci(df, levels_only=False, stop_loss=300):
    # Ensure the index is a DatetimeIndex
    df.index = pd.to_datetime(df.index).strftime('%Y-%m-%d %H:%M:%S')

    # Add a trend column: 1 for uptrend, -1 for downtrend
    df['trend'] = df.apply(lambda row: 1 if row['close'] > row['open'] else -1, axis=1)

    # Create new columns and calculate Fibonacci levels for each row
    df['fib 23.6'] = df['high'] - ((df['high'] - df['low']) * 0.236)
    df['fib 38.2'] = df['high'] - ((df['high'] - df['low']) * 0.382)
    df['fib 61.8'] = df['high'] - ((df['high'] - df['low']) * 0.618)
    df['fib 100.0'] = df['low']  # 100% Fibonacci level corresponds to the low price

    # Calculate next day's index
    df['next_day'] = pd.to_datetime(df.index.to_series().shift(-1)).dt.strftime('%Y-%m-%d %H:%M:%S')
    df['next_day'] = pd.to_datetime(df['next_day'], errors='coerce').dt.strftime('%Y-%m-%d %H:%M:%S')

    # Calculate stop_loss based on the trend and Fibonacci levels
    df['stop_loss'] = df.apply(
        lambda row: (row['fib 61.8'] - stop_loss) if row['trend'] == 1 else (row['fib 61.8'] + stop_loss), axis=1
    )

    # Return only Fibonacci levels and trend if levels_only=True
    if levels_only:
        return df[["fib 23.6", 'fib 38.2', 'fib 61.8', 'fib 100.0', 'trend', 'next_day', 'stop_loss']]
    else:
        return df

In [261]:
gold_daily_fibonacci = get_daily_fibonacci(gold_daily, levels_only=True, stop_loss=30)

In [262]:
gold_daily_fibonacci['next_day']

date
2024-11-13 00:00:00    2024-11-14 00:00:00
2024-11-14 00:00:00    2024-11-15 00:00:00
2024-11-15 00:00:00    2024-11-18 00:00:00
2024-11-18 00:00:00    2024-11-19 00:00:00
2024-11-19 00:00:00    2024-11-20 00:00:00
2024-11-20 00:00:00    2024-11-21 00:00:00
2024-11-21 00:00:00    2024-11-22 00:00:00
2024-11-22 00:00:00    2024-11-25 00:00:00
2024-11-25 00:00:00    2024-11-26 00:00:00
2024-11-26 00:00:00    2024-11-27 00:00:00
2024-11-27 00:00:00    2024-11-29 00:00:00
2024-11-29 00:00:00    2024-12-02 00:00:00
2024-12-02 00:00:00    2024-12-03 00:00:00
2024-12-03 00:00:00    2024-12-04 00:00:00
2024-12-04 00:00:00    2024-12-05 00:00:00
2024-12-05 00:00:00    2024-12-06 00:00:00
2024-12-06 00:00:00    2024-12-09 00:00:00
2024-12-09 00:00:00    2024-12-10 00:00:00
2024-12-10 00:00:00    2024-12-11 00:00:00
2024-12-11 00:00:00    2024-12-12 00:00:00
2024-12-12 00:00:00    2024-12-13 00:00:00
2024-12-13 00:00:00    2024-12-16 00:00:00
2024-12-16 00:00:00    2024-12-17 00:00:00
2024-12-17 00:00:00    2024-12-18 00:00:00
2024-12-18 00:00:00    2024-12-19 00:00:00
2024-12-19 00:00:00    2024-12-20 00:00:00
2024-12-20 00:00:00    2024-12-23 00:00:00
2024-12-23 00:00:00    2024-12-24 00:00:00
2024-12-24 00:00:00    2024-12-26 00:00:00
2024-12-26 00:00:00    2024-12-27 00:00:00
2024-12-27 00:00:00    2024-12-30 00:00:00
2024-12-30 00:00:00    2024-12-31 00:00:00
2024-12-31 00:00:00    2025-01-02 00:00:00
2025-01-02 00:00:00    2025-01-03 00:00:00
2025-01-03 00:00:00    2025-01-06 00:00:00
2025-01-06 00:00:00    2025-01-07 00:00:00
2025-01-07 00:00:00    2025-01-08 00:00:00
2025-01-08 00:00:00    2025-01-09 00:00:00
2025-01-09 00:00:00    2025-01-10 00:00:00
2025-01-10 00:00:00    2025-01-13 00:00:00
2025-01-13 00:00:00    2025-01-14 00:00:00
2025-01-14 00:00:00    2025-01-15 00:00:00
2025-01-15 00:00:00    2025-01-16 00:00:00
2025-01-16 00:00:00    2025-01-17 00:00:00
2025-01-17 00:00:00    2025-01-20 00:00:00
2025-01-20 00:00:00    2025-01-21 00:00:00
2025-01-21 00:00:00    2025-01-22 00:00:00
2025-01-22 00:00:00    2025-01-23 00:00:00
2025-01-23 00:00:00    2025-01-24 00:00:00
2025-01-24 00:00:00                    NaN
Name: next_day, dtype: object

In [265]:
chart(gold_15, fib_df=gold_daily_fibonacci, fib=True)